@mixin button-text {
  display: inline-flex;
  align-items: center;
  margin: 0px;
  padding-top: 0.2em;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 1px solid transparent;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: -0.02em;
  white-space: nowrap;
}
