$color__blue--5: #e7eeff;
$color__blue--10: #cfddff;
$color__blue--20: #9db8fa;
$color__blue--30: #7096f1;
$color__blue--40: #4b77e4;
$color__blue--50: #2f5dd1;
$color__blue--60: #1a47b8;
$color__blue--70: #0c3392;
$color__blue--80: #042165;
$color__blue--90: #011033;

// default color
$color__blue: $color__blue--60;
