$color__bronze--5: #fbf2ea;
$color__bronze--10: #f8e5d5;
$color__bronze--20: #efc9a7;
$color__bronze--30: #e3ad7f;
$color__bronze--40: #d2945e;
$color__bronze--50: #bc7c44;
$color__bronze--60: #a36229;
$color__bronze--70: #824816;
$color__bronze--80: #5b2f09;
$color__bronze--90: #2e1702;

// default color
$color__bronze: $color__bronze--50;
