$color__garden--5: #defaf4;
$color__garden--10: #bdf6ea;
$color__garden--20: #86ecd6;
$color__garden--30: #56dfc1;
$color__garden--40: #2fcdab;
$color__garden--50: #13b692;
$color__garden--60: #009877;
$color__garden--70: #007a60;
$color__garden--80: #005543;
$color__garden--90: #002b22;

// default color
$color__garden: $color__garden--60;
