$color__magenta--5: #e7eeff;
$color__magenta--10: #fed2ea;
$color__magenta--20: #f8a2d1;
$color__magenta--30: #ee78b8;
$color__magenta--40: #e055a1;
$color__magenta--50: #e055a1;
$color__magenta--60: #b32572;
$color__magenta--70: #8e1356;
$color__magenta--80: #630739;
$color__magenta--90: #32021c;

// default color
$color__magenta: $color__magenta--60;
