$color__orange--5: #ffeee8;
$color__orange--10: #ffddd0;
$color__orange--20: #ffb69d;
$color__orange--30: #fb936f;
$color__orange--40: #f07348;
$color__orange--50: #e0592a;
$color__orange--60: #bf4116;
$color__orange--70: #982e0a;
$color__orange--80: #691d03;
$color__orange--90: #350e00;

// default color
$color__orange: $color__orange--50;
