$color__sky--5: #e4f9fe;
$color__sky--10: #c9f4fc;
$color__sky--20: #95e6f6;
$color__sky--30: #67d6ec;
$color__sky--40: #41c4dd;
$color__sky--50: #27aec8;
$color__sky--60: #1593ac;
$color__sky--70: #097489;
$color__sky--80: #097489;
$color__sky--90: #002830;

// default color
$color__sky: $color__sky--40;
