$color__sunset--5: #ffebe6;
$color__sunset--10: #ffd7cd;
$color__sunset--20: #fdac9a;
$color__sunset--30: #f5846c;
$color__sunset--40: #e46347;
$color__sunset--50: #cd482b;
$color__sunset--60: #b13317;
$color__sunset--70: #8d220b;
$color__sunset--80: #621504;
$color__sunset--90: #310a01;

// default color
$color__sunset: $color__sunset--30;
