$color__yellow--5: #fffce6;
$color__yellow--10: #fff9cc;
$color__yellow--20: #ffed97;
$color__yellow--30: #ffde67;
$color__yellow--40: #f5ce3e;
$color__yellow--50: #dcb423;
$color__yellow--60: #bc9711;
$color__yellow--70: #957707;
$color__yellow--80: #675102;
$color__yellow--90: #342900;

// default color
$color__yellow: $color__yellow--40;
