/*
  @mixin reset-btn

  Remove default browser style for button tag
*/
@mixin reset-btn {
  // sass-lint:disable-block no-vendor-prefixes
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  white-space: nowrap;
  cursor: pointer;
}

@mixin button-text {
  display: inline-flex;
  align-items: center;
  margin: 0px;
  padding-top: 0.2em;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 1px solid transparent;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: -0.02em;
  white-space: nowrap;
}

@mixin button-focus {
  &:focus {
    outline: 1px solid $color__link--outline;
    outline-offset: 6px;
  }

  &:focus[data-focus-method='mouse'],
  &:focus[data-focus-method='touch'] {
    outline: none;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

@mixin button-styles() {
  @include reset-btn;
  @include button-focus;
  background-color: $color__button--background;
  color: $color__button;
  transition: $link-transition;

  &:hover {
    background-color: $color__button--hover;
  }

  &:active {
    background-color: $color__button--active;
  }

  @media (hover: none) {
    &:hover,
    &:active {
      background-color: $color__button--background;
    }
  }

  &:disabled {
    background-color: $color__button--disabled;
    cursor: default;
  }

  [class*='s-bg--'] & {
    background-color: var(--s-bg-btn-bg);
    color: var(--s-bg-btn-color);

    &:hover {
      background-color: var(--s-bg-btn-bg-hover);
    }

    &:active {
      background-color: var(--s-bg-btn-bg-active);
    }

    @media (hover: none) {
      &:hover,
      &:active {
        background-color: var(--s-bg-btn-bg);
      }
    }

    &:disabled {
      background-color: var(--s-bg-btn-bg-disabled);
    }
  }
}
