$color__link: #1a47b8;
$color__link--hover: #1a47b8;
$color__link--disabled: #5b5b5b;
$color__link--active: #14358a;
$color__link--outline: #767676;

$color__button: #fff;
$color__button--background: #000;
$color__button--hover: #222;
$color__button--disabled: #b2b2b2;
$color__button--active: #444;
$color__button--outline: #767676;
